* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HOME PAGE */

.App {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 24px 0;
}

.home-description {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-right: 10px;
}

/* VIDEO SLIDER */

.video-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  border-radius: 12px;
  margin: 0 12px;
  overflow: hidden;
  border : 2px solid var(--color-black);
}

.video-item-container {
  width: 100%;
  height: 300px;
  background-color: black;
  position: relative;
}

.video-question {
  border-top : 2px solid var(--color-black);
  word-wrap: break-word;
  padding: 12px;
}

.video-item-container video {
  width: 100%;
  height: 100%;
}

.video-placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-video-player{
  width: 100%;
  height: 100%;
}

/* PAGE VIDEO */

.page-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 24px;
  margin: 12px auto 0 auto;
  min-width: 300px;
  max-width: 600px;
  padding: 12px;
}

.page-video-container .btn {
  align-self: flex-start;
}

video {
  width: 100%;
  height: 80%;

}

.video-full-container {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  border-radius: 18px;
  overflow: hidden;
}

.video-full-container .question {
  padding: 18px 24px;
}

.question-bold {
  font-weight: bold;
}

.btn-video {
  position: absolute;
  left: 18px;
  bottom: 72px;
  background-color: var(--color-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.btn-restart{
  left: unset;
  right: 18px;
  bottom: unset;
  top: 18px;
  background-color: var(--color-primary);
}

.btn-restart:hover{
  background-color: var(--color-primary);
}

.btn-video svg > * {
  font-size: 12px;
  color: white;
}

.btn-video:hover {
  background-color: var(--color-primary);
}

.time-video {
  position: absolute;
  right: 18px;
  top: 20px;
  font-size: 18px;
  color: white;
  background-color:rgba(0, 0, 0, 0.2) ;
  font-weight: bold;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
}

.heart{
  display: flex;
}

.heart svg{
  color : red
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* SLIDER */

.video-item-container .btn-video{
  bottom: 12px;
  font-size: 8px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .home-description {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
  }
}
